@model ICollection<Book>

<div class="container text-center mt-3">
    <h1 class="mx-auto my-0 text-uppercase">Book Shop</h1>

    @if (TempData["Success"] != null)
    {
        <p class="alert alert-danger">@TempData["success"]</p>
    }
    <div class="card-group">
    <form asp-controller="Book" asp-action="Search" method="post">
        <input type="search" placeholder="Search.." name="keyword"/>
    </form>
        <div class="row">
            @foreach (var Book in Model)
            {
                <div class="col-md-3 p-3 bg-secondary">
                    <div class="card">
                        <div class="card-body">
                            <a class="font-weight-bold" asp-controller="book" asp-action="Detail" asp-route-id="@Book.Id">
                            <img class="card-img-top" src="@Book.Image" width="180" height="200">
                            </a>
                            <h4 class="text text-black-50 text-primary mt-3">@Book.Name</h4>
                            <h5 class="text text-justify text-center">@Book.Price $</h5>
                        </div>
                        @if (Book.Quantity == 0)
                        {
                            <div class="card-subtitle">
                                <p class="text text-danger h2">Out of stock</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-subtitle">
                                <h5 class="text text-danger">In-stock: @Book.Quantity</h5>
                            </div>
                            <div class="card-footer">
                                <form asp-controller="Order" asp-action="Make">
                                    <input type="hidden" name="id" value="@Book.Id" />
                                    <input class="form-control" type="number" name="quantity" required min="1" max="@Book.Quantity">
                                    <div class="form-group mt-3">
                                        <input type="submit" class="bg-secondary btn btn-dark" value="Make order"
                                       onclick="    return confirm('Are you sure to order this Book ?');" />
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>